:root {
    --border-color: #000000;
    --nav-background: #412752;

    font-size: 16px;
}

html, body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: "JetBrainsMono-Thin", monospace;
}

