:root {
    --background-color: #2D162C;
    --border-color: #000000;
    --nav-background: #412752;
    --nav-button: #2D162C;

    font-size: 16px;
}

html, body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: "JetBrainsMono-Thin", monospace;
}

body {
    background-color: var(--background-color);
}

