main {
    position: relative;
    right: -35px;
    background-color: var(--main-background);
    width: 83%;
    height: 500px;
    border: 6px solid var(--border-color);
    padding: 6px;
}

h2 {
    font-size: 2.4rem;
    margin: 0;
    padding: 0;
}
