:root {
    --primary-color: #FAFAFA;
    --background: #0D0D0D;

    font-size: 16px;
}

* {
    box-sizing: border-box;
}

html {
    margin: 0;
    padding: 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

body {
    background: var(--background);
    color: var(--primary-color);
    font-family: 'Inter', sans-serif;
}