:root {
    --primary-color: #FAFAFA;
    --background: #0D0D0D;

    font-size: 16px;
}

* {
    box-sizing: border-box;
}

html {
    margin: 0;
    padding: 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

body {
    background: var(--background);
    color: var(--primary-color);
    font-family: 'Inter', sans-serif;
    height: 95vh;
}

.container {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/*
h1 {
    font-size: 10rem;
    cursor: default;
}
 */

.circle {
    background: beige;
    border-radius: 50%;
    width: 6rem;
    height: 6rem;
    position: relative;
}
